@model SandboxCore.Models.SandboxViewModel
@{
    ViewData["Title"] = "Index";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="alert alert-warning">
    @if (Model.StatusCode == 403)
    {
        <p>
            You are not authorized to create a sandbox.
        </p>
    }
    else
    {
        <p>Sandbox course created. This course is provided for the sole use of the instructor who created it. Other users cannot be enrolled in Sandbox courses. If you have the need for a co-curricular course with enrollment permissions, please fill out this request form: <a href="https://ucdenverdata.formstack.com/forms/cocurricularrequest" target="_blank">https://ucdenverdata.formstack.com/forms/cocurricularrequest</a>.</p>
        <p><a href='@string.Format($"{Model.BaseUrl}courses")' target="_parent">Go to Courses Page</a> and accept course invitation.</p>
    }
</div>
